.PopupConverting {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  padding: 42px 0 36px 0;
  background-color: #ffffff;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24);
  transform: translate(-50%, -50%);
  z-index: 2000;
  h2 {
    margin-bottom: 60px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
}

.Note {
  padding-top: 20px;
  margin-bottom: 51px;
  color: var(--black35);
  font-size: var(--fz10);
  font-weight: 500;
  line-height: var(--lh16);
  span {
    color: var(--black);
  }
}

.FieldWrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--smokyWhite);
  margin-bottom: 20px;
  span {
    color: var(--black65);
    font-size: var(--fz13);
    font-weight: 500;
    line-height: var(--lh16);
  }
}

.FieldWrapTo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--smokyWhite);
  margin-bottom: 20px;
  span {
    color: var(--black65);
    font-size: var(--fz13);
    font-weight: 500;
    line-height: var(--lh16);
  }
}

.FieldValues {
  p {
    text-transform: uppercase;
    font-weight: 500;
    text-align: right;
    &:first-of-type {
      margin-bottom: 5px;
      color: var(--black);
      font-size: var(--fz15);
      line-height: var(--lh19);
    }
    &:last-of-type {
      color: var(--black65);
      font-size: var(--fz13);
      line-height: var(--lh16);
    }
  }
}

.CloseWrap {
  position: absolute;
  top: 27px;
  right: 20px;
  transform: translateY(-50%);
}

.btn {
  margin: 0 auto;
  width: 340px;
}

@media (max-width: 1304px) {
  .PopupConverting {
    z-index: 4000;
  }
}

@media (max-width: 565px) {
  .PopupConverting {
    position: fixed;
    top: inherit;
    bottom: 0;
    max-width: 100%;
    transform: translate(-50%, 0);
  }

  .FieldWrapTo {
    margin-bottom: 0;
  }
}
