.ButtonText {
  .Text {
    color: var(--black65);
    font-size: var(--fz13);
    font-weight: 600;
    line-height: var(--lh16);
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.2s ease-in;
    &:hover {
      color: var(--spaceBlue);
    }
  }
}
