.FundingWithdrawSummary {
  padding-top: 26px;

  h6 {
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

.listSummary {
  margin-bottom: 60px;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 0;
    border-bottom: 1px solid var(--smokyWhite);

    span {
      &:first-of-type {
        color: var(--black65);
        font-size: var(--fz13);
        font-weight: 500;
        line-height: var(--lh16);
        text-align: left;
      }

      &:last-of-type {
        color: var(--black);
        font-size: var(--fz15);
        font-weight: 500;
        line-height: var(--lh19);
        text-align: right;
      }
    }

    &:last-of-type {
      span {
        &:last-of-type {
          text-transform: uppercase;
        }
      }
    }
  }
}

.bankSummaryWrap {
  margin-bottom: 56px;
}

.checkbox {
  position: relative;
  display: block;
  margin-bottom: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid #f6f7f8;
  span {
    padding-left: 23px;
    color: var(--black);
    font-size: var(--fz13);
    font-weight: 500;
    line-height: var(--lh16);
  }

  &:before {
    position: absolute;
    content: '';
    top: 12px;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid var(--black);
    transform: translateY(-50%);
  }

  .check {
    display: none;
    position: absolute;
    content: '';
    top: 12px;
    left: 3px;
    height: 6px;
    width: 8px;
    border-left: 1px solid var(--black85);
    border-bottom: 1px solid var(--black85);
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-70%) rotate(-45deg);
  }
  input {
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    &:checked {
      & + .check {
        display: block;
      }
    }
  }
}

.btn {
  margin: 0 0 44px auto;
  width: 220px;
}

.btnText {
  p {
    margin-bottom: 43px;
    color: var(--black65);
    font-size: var(--fz13);
    font-weight: 500;
    line-height: var(--lh19);

    span {
      color: var(--black);
    }
  }
}

.Container {
  padding: 0 20px;
}

@media (max-width: 1000px) {
  .FundingWithdrawSummary {
    h6 {
      padding: 0 20px;
    }
  }
  .Container {
    padding: 0;
  }

  .listSummary {
    padding: 0 20px;
  }

  .btnText {
    padding: 13px 20px;
  }

  .checkbox {
    margin: 0 20px;
  }

  .btn {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .FundingWithdrawSummary {
    h6 {
      margin: 0;
      padding: 0 17px;
    }
  }

  .listSummary {
    padding: 0 17px;
    li {
      span {
        &:last-of-type {
          width: 40%;
        }
      }
    }
  }

  .Container {
    padding: 0;
  }

  .checkbox {
    margin: 0 17px 10px;
  }

  .btnText {
    padding: 0 17px;
  }
}


@media (max-width: 565px) {
  .btn {
    padding: 0 17px;
    width: 100%;
  }
}
