.ButtonMain {
  border: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  background: var(--spaceBlue);
  color: #ffffff;
  font-size: var(--fz13);
  font-weight: 500;
  line-height: var(--lh16);
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow 0.1s linear, background 0.1s ease-in;
  &:hover {
    background: #36aaf8;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.12),
      0 2px 9px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  &:disabled {
    background: var(--spaceBlue65);
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.12),
      0 2px 9px 0 rgba(0, 0, 0, 0.05);
      cursor: default;
  }
  &:active {
    background: #36aaf8;
  }
}

@media (max-width: 1000px) {
  .ButtonMain {
    font-size: var(--fz15);
    line-height: var(--lh19);
  }
}
