.wrapper {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1304px) {
  .wrapper {
    max-width: 1024px;
    padding: 0 12px;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 100%;
    padding: 0;
  }
}
