.VerificationForms {
  background: #fff;

  h2 {
    padding: 18px 0 19px;
    color: var(--black85);
    font-size: var(--fz18);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: var(--lh28);
    text-transform: uppercase;
  }
  span {
    color: var(--black35);
    font-size: var(--fz13);
    font-weight: 500;
    line-height: var(--lh16);
  }
}

.Container {
  padding: 0 20px;
}

@media (max-width: 1304px) {
  .VerificationForms {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .Container {
    padding: 0 17px;
  }
}

