.NoOrderChosen {
  padding-top: 20px;

  p {
    height: 16px;
    width: 233px;
    opacity: 0.65;
    color: var(--black65);
    font-size: var(--fz13);
    font-weight: 500;
    line-height: var(--lh16);
  }
}
