.TransactionMore {
  position: relative;
  padding: 21px 0;
  color: var(--black65);
  font-size: var(--fz10);
  font-weight: 500;
  line-height: var(--lh13);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  span {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 40%;
      right: -14px;
      height: 6px;
      width: 6px;
      border-right: 1px solid var(--black65);
      border-bottom: 1px solid var(--black65);
      transform: translateY(-50%) rotate(45deg);
    }
  }
}
